
軟體更新-API/軟體更新-API.exe
軟體更新-APK下載/apk/1/教育訓練語音Service.apk
軟體更新-APK下載/apk/2/教育訓練.apk
軟體更新-APK下載/apk/3/熱像偵測.apk
軟體更新-APK下載/apk/4/EnvironmentSysteem.apk
軟體更新-APK下載/apk/5/launcher_Fii.apk
軟體更新-APK下載/apk/6/Auto-click_Service.apk
軟體更新-APK下載/軟體更新-APK下載.exe
軟體更新-API/main/logs/
*.apk
軟體更新-APK下載/logs/
